* { color: #FFF; }

html {
	background-color: #000;
}

#view-box {
	margin: 10px auto;
	width: 640px;
	height: 360px;
	border: 1px solid gray;
	position: relative;
}

h1 {
	font-size: small;
	margin: 5px 10px;
	color: #FFF;
}

.twitter-tweet {
	display: none;
}

h2 {
	font-size: large;
	margin: 10px 10px;
}

h2.teaser {
	margin: 55px auto; /* Contents box height = 310 px */
	line-height: 100px;
	font-size: 80px;
	text-align: center;
}

p.hash-tag {
	margin: 85px auto;
	line-height: 70px;
	font-size: 55px;
	text-align: center;
}

ol.themes {
	margin: 0 0 0 30px;
	font-size: 35px;
}

#commentators {
	width: 600px;
	margin: 10px auto;
	padding: 0;
	list-style: none;
}

.commentator {
	float: left;
	text-align: center;
	width: 150px;
	padding: 10px 0;
}

.twitter-icon {
	width: 64px;
	height: 64px;
}

#hash-tag {
	margin: 5px;
	padding: 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: large;
}

